<!-- @format -->

<!-- https://freefrontend.com/css-border-animations/ -->
<!-- https://flexiple.com/javascript/javascript-clock/ -->

<ng-container [ngSwitch]="daylik.state">
	<section
		class="flex items-center justify-center gap-4 h-screen w-screen bg-white p-4"
		*ngSwitchCase="'idle'"
	>
		<div class="flex flex-col items-center justify-center gap-8">
			<time class="block text-8xl">{{ daylikTime }}</time>
			<div class="flex items-center justify-center gap-4">
				<button
					class="flex items-center justify-center bg-sky-400 text-white rounded-full p-4"
					type="button"
					(click)="onDaylikToggleSettings(true)"
				>
					<svg
						class="bi bi-gear-fill"
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						viewBox="0 0 16 16"
					>
						<path
							d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
						/>
					</svg>
				</button>
				<button
					class="flex items-center justify-center bg-sky-400 text-white rounded-full p-4"
					type="button"
					(click)="onDaylikChangeState()"
				>
					<svg
						class="bi bi-play-fill"
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						viewBox="0 0 16 16"
					>
						<path
							d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
						/>
					</svg>
				</button>
			</div>
		</div>
	</section>
	<section
		class="flex flex-col gap-4 h-screen w-screen bg-white p-4"
		*ngSwitchDefault
	>
		<header class="grid grid-cols-3 gap-4">
			<div
				class="flex items-center justify-center md:justify-start gap-4 col-span-3 md:col-span-1"
			>
				<svg
					class="bi bi-heart-fill text-rose-400"
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					fill="currentColor"
					viewBox="0 0 16 16"
				>
					<path
						fill-rule="evenodd"
						d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
					/>
				</svg>
				<span class="block text-4xl">{{ team.teamName }}</span>
			</div>
			<div class="flex items-center justify-center col-span-3 md:col-span-1">
				<div
					class="flex items-center justify-center gap-4"
					*ngIf="daylik.state === 'pending'"
				>
					<button
						class="flex items-center justify-center bg-sky-400 text-white rounded-full p-4"
						type="button"
						(click)="onTeamMemberListShuffle()"
					>
						<svg
							class="bi bi-shuffle"
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							viewBox="0 0 16 16"
						>
							<path
								fill-rule="evenodd"
								d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"
							/>
							<path
								d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"
							/>
						</svg>
					</button>
					<button
						class="flex items-center justify-center bg-sky-400 text-white rounded-full p-4"
						type="button"
						(click)="onDaylikChangeState()"
					>
						<svg
							class="bi bi-play-fill"
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							viewBox="0 0 16 16"
						>
							<path
								d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
							/>
						</svg>
					</button>
				</div>
				<div
					class="flex items-center justify-center gap-4"
					*ngIf="daylik.state === 'live'"
				>
					<button
						class="flex items-center justify-center bg-sky-400 text-white rounded-full p-4"
						type="button"
						(click)="setRandom()"
					>
						<svg
							class="bi bi-dice-5"
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							viewBox="0 0 16 16"
						>
							<path
								d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"
							/>
							<path
								d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
							/>
						</svg>
					</button>
				</div>
			</div>
			<div
				class="flex items-center justify-center md:justify-end col-span-3 md:col-span-1"
			>
				<time class="block text-4xl">{{ daylikTime }}</time>
			</div>
		</header>
		<hr />
		<ul
			class="grid gap-4 grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] grid-flow-row auto-rows-max grid-rows-none h-full w-full"
		>
			<!-- prettier-ignore -->
			<li
				class="flex items-center justify-center col-span-1 rounded-2xl relative p-4 aspect-square"
				*ngFor="let teamMember of team.teamMemberList"
				[ngClass]="{
					'bg-sky-400': teamMember.state === 'idle' || teamMember.state === 'live',
					'bg-rose-400': teamMember.state === 'pending',
					'bg-sky-200': teamMember.state === 'done',
				}"
				(click)="onTeamMemberChangeState(teamMember)"
			>
				<ng-container *ngIf="daylik.state === 'pending'">
					<button
						class="absolute right-0 top-0 flex items-center justify-center text-white p-4"
						type="button"
						(click)="onTeamMemberRemove(teamMember)"
					>
						<svg
							class="bi bi-x-lg"
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							viewBox="0 0 16 16"
						>
							<path
								d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
							/>
						</svg>
					</button>
				</ng-container>
				<ng-container [ngSwitch]="teamMember.state">
					<span class="text-4xl text-white" *ngSwitchCase="'pending'">
            {{ teamMember.department }}
          </span>
					<span class="text-2xl text-white" *ngSwitchDefault>
						{{ teamMember.name }}
            <ng-container *ngIf="daylikSettingsForm.controls.timer.value === 'yes' || daylikSettingsForm.controls.timer.value === 'in-case-of-hurry' && t2Toggle">
              <svg
                class="absolute inset-4"
                [attr.viewBox]="viewBox"
                *ngIf="teamMember.state === 'live' && !!progress"
              >
                <circle
                  class="duration-200"
                  fill="none"
                  [attr.r]="R"
                  [attr.cx]="+square / 2"
                  [attr.cy]="+square / 2"
                  [attr.stroke-linecap]="'round'"
                  [attr.stroke-width]="progressWidth ? progressWidth : 0"
                  [attr.stroke]="progressColor ? progressColor : '#7dd3fc'"
                  [attr.stroke-dasharray]="strokeDasharray"
                  [attr.stroke-dashoffset]="strokeDashoffset"
                />
              </svg>
            </ng-container>
					</span>
				</ng-container>
			</li>
		</ul>
	</section>
	<section
		class="flex items-center justify-center gap-4 h-screen w-screen bg-white p-4"
		*ngSwitchCase="'done'"
	>
		<div class="flex flex-col items-center justify-center gap-8">
			<span class="block text-8xl">Have a good day</span>
			<img
				class="rounded-2xl"
				src="assets/kitten-wave-love-you.gif"
				alt="Kit"
				*ngIf="daylikSettingsForm.controls.fireworks.value"
			/>
		</div>
		<ng-fireworks
			class="fixed inset-0"
			#fireworks="ngFireworks"
			*ngIf="daylikSettingsForm.controls.fireworks.value"
			[options]="{ opacity: 1 }"
		></ng-fireworks>
	</section>
	<dialog
		class="bg-white rounded-2xl"
		#daylikSettingsModal
		(close)="onDaylikToggleSettings(false)"
	>
		<div class="flex flex-col gap-4 p-4">
			<div class="block text-6xl">Settings</div>
			<form
				class="flex flex-col gap-4"
				[formGroup]="daylikSettingsForm"
				(ngSubmit)="onDaylikSubmitSettings()"
			>
				<div class="flex flex-col gap-4 border p-4 rounded-2xl">
					<fieldset class="flex items-center justify-start gap-4">
						<label for="timer">Timer:</label>
						<select id="timer" name="timer" formControlName="timer">
							<option value="no">No</option>
							<option value="yes">Yes</option>
							<option value="in-case-of-hurry">In case of hurry</option>
						</select>
					</fieldset>
					<fieldset
						class="flex items-center justify-start gap-4"
						*ngIf="daylikSettingsForm.get('timer') as timer"
						[class.hidden]="timer.value !== 'in-case-of-hurry'"
					>
						<label for="case-of-hurry">Hurry up after</label>
						<input
							id="case-of-hurry"
							name="case-of-hurry"
							type="range"
							formControlName="timerHurry"
							min="1"
							max="20"
							step="1"
						/>
						<time *ngIf="daylikSettingsForm.get('timerHurry') as timerHurry">
							{{ timerHurry.value }} min.
						</time>
					</fieldset>
				</div>
				<div class="flex flex-col gap-4 border p-4 rounded-2xl">
					<fieldset class="flex items-center justify-start gap-4">
						<input
							id="fireworks"
							name="fireworks"
							type="checkbox"
							formControlName="fireworks"
						/>
						<label for="fireworks">Wanna fireworks?</label>
					</fieldset>
				</div>
				<button
					class="flex items-center justify-center bg-sky-400 text-white rounded-2xl p-4"
					type="submit"
				>
					Save
				</button>
			</form>
		</div>
	</dialog>
</ng-container>
